body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #0e2a47;
    padding: 1rem;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 1rem;
}