body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #800000;
    padding: 2rem 2rem;
}

.logo img {
    height: 60px;
}

.nav-links a {
    color: #FFD700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    margin-right: 20px;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

footer {
    background: #222;
    color: #ccc;
    text-align: center;
    padding: 1rem;
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
    display: block;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFD700;
    text-align: center;
    z-index: 2;
}

.hero-text h1 {
    font-size: 4rem;
    margin: 0;
}

.hero-text p {
    font-size: 1.5rem;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0.4}
    to {opacity: 1}
}