{% extends "base.html" %}

{% block content %}
    <section class="contact-section">
    <div class="contact-card">
        <h1>Contact LakeMUN</h1>
        <p>For any inquiries, feel free to reach out to our leaders:</p>

        <div class="contact-links">
            <a href="mailto:SachiT26@lakesideschool.org" class="contact-email">
                SachiT26@lakesideschool.org
            </a>

            <a href="mailto:AichaS27@lakesideschool.org" class="contact-email">
                AichaS27@lakesideschool.org
            </a>
        </div>
    </div>
</section>
{% endblock %}